/*---------------------------------
CSS VARIABLES
---------------------------------*/
:root {
    /* フォント(全て）*/
    --ff: inter;
}

/*---------------------------------
ENTIRE PAGE SETTING
---------------------------------*/
/* 1rem = 10pxに設定しわかりやすくする */
html {
    font-size: 62.5%;
}
/* 全てのフォントをinterに設定 */
body {
    font-family: var(--ff);
}

/*---------------------------------
HEADER
---------------------------------*/
.header {
    width: 100%;
    min-height: 8rem;
    min-height: clamp(8rem, 12vh, 12rem);
    display: grid;
    /* 横方向 = 列は3等分で全部1frずつ, repeat(3, 1fr) = 1fr 1fr 1fr */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0.3rem 0;
    border: 1px solid #e0dfde;
    /* 各セル内のインライン要素を左右中央に配置 */
    text-align: center;
    background-color: black;
}

.header__logo {
    grid-column: 1;
    grid-row: 1;
}

.logo-image {
    padding: 2rem 0;
    width: clamp(100px, 15vw, 240px);
    height: auto;
}

.search__input {
    width: 90%;
    grid-column: 2;
    grid-row: 1;
    border: solid 1px white;
    border-radius: 5px;
    background-color: white;
    padding: 0.8rem;
    font-size: 2.4rem;
}

.header__nav {
    width: 90%;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.7rem;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.logout-form {
    grid-column: 1;
    grid-row: 1;
}

.logout-form__btn {
    height: auto;
    all: unset;
    color: white;
}

.nav__link-mypage {
    height: auto;
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-decoration: none;
}

.nav__link-sell {
    display: inline-flex; /* 中央寄せしやすい */
    align-items: center; /* 垂直中央 */
    justify-content: center; /* 水平中央 */

    padding: 1.2rem 1.6rem; /* 余白でサイズ調整 */
    min-height: 3.6rem; /* 必要なら最低高さだけ */
    box-sizing: border-box;
    line-height: 1; /* 行ボックスの余白を消す*/
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    /* ボタンの線を演出 */
    border: 1px solid #ffffff;
    border-radius: 4px;
    /* ボタンの面を演出 */
    background-color: #ffffff;
}

.logout-form__btn:hover,
.nav__link-mypage:hover,
.nav__link-sell:hover {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
}
